<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Parking Lot Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'ava')">Available Parking Lots<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'unava')">Unavailable Parking Lots <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Parking Lot <span
          class="sr-only">(current)</span></a>
      </li>
    </ul>
        <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchParkingLot(key.value)" #key="ngModel" ngModel
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search parking lot..." required>
        </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let parkingLot of parkingLots" class="col-md-6 col-xl-4">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6" style="border-radius: 0px">
            <a href=""><img width="70" height="70" ngSrc="{{availableOrNot(parkingLot)}}" alt="image"
                            class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{parkingLot?.name}}</h5>
            <p class="m-0" *ngIf="parkingLot.available;">Available</p>
            <p class="m-0" *ngIf="!parkingLot.available;">Unavailable</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngIf="tap;" class="list-group-item" id="assign-a-car" (click)="onOpenModal(parkingLot, 'assign')" style="align-content: center"><i class="fa fa-plus" aria-hidden="true"></i><i><a> Assign Car</a></i></li>
          <li *ngIf="!tap;" class="list-group-item"><i class="fa fa-user float-right"></i>Customer Name: {{parkingLot?.customerName}}</li>
          <li *ngIf="!tap;" class="list-group-item"><i class="fa fa-phone float-right"></i>Phone Number: {{parkingLot?.phoneNumber}}</li>
          <li *ngIf="!tap;" class="list-group-item"><i class="fa fa-car float-right"></i>Car Number: {{parkingLot?.carNumber}}</li>
          <li *ngIf="!tap;" class="list-group-item"><i class="fa fa-calendar float-right"></i>Start Date: {{parkingLot?.startDate | date:'yyyy-MM-dd'}}</li>
          <li *ngIf="!tap;" class="list-group-item"><i class="fa fa-calendar float-right"></i>Expiration Date: {{parkingLot?.expirationDate | date:'yyyy-MM-dd'}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a *ngIf="!tap;" (click)="onOpenModal(parkingLot,'available')" class="btn btn-primary tooltips" data-placement="top"
               data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a *ngIf="tap;" (click)="onOpenModal(parkingLot,'delete')" class="btn btn-secondary tooltips" data-placement="top"
               data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add  Modal -->
  <div class="modal fade" id="addParkingLotModal" tabindex="-1" role="dialog" aria-labelledby="addParkingLotModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addParkingLotModalLabel">Add Parking Lot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddParkingLot(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-parkingLot-form" class="btn btn-secondary" data-dismiss="modal">Close
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="availableParkingLotModal" tabindex="-1" role="dialog"
       aria-labelledby="availableParkingLotModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="availableParkingLotModalLabel">Make Parking Lot Available</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to make Parking lot available with name {{editParkingLot?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onAvailable(editParkingLot)" class="btn btn-danger" data-dismiss="modal">Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteParkingLotModal" tabindex="-1" role="dialog"
       aria-labelledby="deleteParkingLotModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteParkingLotModalLabel">Delete Parking Lot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete Parking lot with name {{deleteParkingLot?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteParkingLot(deleteParkingLot.id)" class="btn btn-danger" data-dismiss="modal">Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Assign Car-->
  <div class="modal fade" id="assignCarModal" tabindex="-1" role="dialog" aria-labelledby="assignCarModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="assignCarModalLabel">Assign Car</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #assignCar="ngForm" (ngSubmit)="onAssignCar(assignCar)">
            <div class="form-group">
              <label for="name1">Customer Name</label>
              <input type="text" ngModel name="customerName" class="form-control" id="name1" placeholder="Customer Name" required>
              <label for="phone">Customer Phone Name</label>
              <input type="tel" ngModel name="phoneNumber" class="form-control" id="phone" placeholder="+962 7 8065 4084" pattern="+[0-9]{3} 7 [0-9]{4} [0-9]{4}" required>
              <label for="number">Car Number</label>
              <input type="text" ngModel name="carNumber" class="form-control" id="number" placeholder="Car Number" required>
              <label for="car-color">Car Color</label>
              <input type="text" ngModel name="color" class="form-control" id="car-color" placeholder="Car Color" required>
              <label for="start">Start Date</label>
              <input type="date" ngModel name="startDate" class="form-control" id="start" placeholder="Start Date" required>
              <label for="end">Expiration Date</label>
              <input type="date" ngModel name="expirationDate" class="form-control" id="end" placeholder="Expiration Date" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="delete4" class="btn btn-secondary" data-dismiss="modal">Close
              </button>
              <button [disabled]="assignCar.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="parkingLots?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO Data!</h4>
    <p>No Data were found.</p>
  </div>
</div>
